* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #a0c4ff, #ffc6ff, #bde0fe, #caffbf);
  background-size: 400% 400%;
  animation: bgAnimation 15s ease infinite;
  color: #333333;
}

@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.stats-container, input, button, .taskItem {
  border: 2px solid #009688; 
  transition: border-color 0.3s ease, border-width 0.3s ease;
  animation: borderAnimation 15s ease infinite;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 120px auto 0 auto;
  max-width: 500px;
}

@keyframes borderAnimation {
  0% {
    border-color: #009688;
    border-width: 2px;
  }
  50% {
    border-color: #80ffdb;
    border-width: 4px;
  }
  100% {
    border-color: #009688;
    border-width: 2px;
  }
}

.stats-container {
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #22fff8;
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.details {
  width: 100%;
}

#progressBar {
  width: 100%;
  height: 10px;
  background-color: #ede5e5;
  border-radius: 5px;
  margin-top: 20px;
}

#progress {
  width: 0%;
  height: 10px;
  background-color: #00bcd4;
  border-radius: 5px;
  transition: width 0.5s ease;
}

#numbers {
  width: 120px;
  height: 100px;
  background-color: #6996c0d0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

form {
  margin-top: 60px;
  width: 100%;
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #6996c0d0;
  border-radius: 10px;
  outline: none;
  color: #333333;
  font-size: 1rem;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6996c0d0;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #00bcd4;
  cursor: pointer;
  transform: scale(1.05);
}

button:active {
  background-color: #00796b;
}

#task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
  list-style: none;
}
.task{
  display: flex;
  align-items: center;
}

.taskItem {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.taskItem:hover {
  background-color: #00bcd4;
  transform: translateX(10px);
}

.taskItem img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.taskItem img:hover {
  transform: scale(1.1);
}

.completed p {
  text-decoration: line-through;
  color: #000000;
  opacity: 0.8;
}

@media (max-width: 600px) {
  /* body {
    background-size: 300% 300%; 
    animation: bgAnimation 10s ease infinite; 
  } */

  .container {
    margin: 60px auto 0 auto; 
    padding: 0 40px; 
  }

  .stats-container {
    padding: 15px;
    gap: 10px;
  }

  #progressBar {
    height: 6px; 
  }

  #progress {
    height: 6px; 
  }

  #numbers {
    width: 80px;
    height: 60px;
    font-size: 1.2rem;
  }

  form {
    margin-top: 20px;
    gap: 4px; 
  }

  input {
    padding: 10px;
    font-size: 14px; 
  }

  button {
    width: 35px;
    height: 35px;
    font-size: 20px; 
  }

  #task-list {
    gap: 6px; 
  }

  .taskItem {
    padding: 6px; 
  }

  .task {
    gap: 6px; 
  }

  .taskItem img {
    width: 18px;
    height: 18px;
}
}